
.card-calc{
    background-color: rgba(247, 247, 247, 1);
}
.calc-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-calc-title{
    font-family: "Geologica-Regular";
    font-size: 24px;
    padding-bottom: 32px;
    color: var(--black);
}
.card-calc{
    background-color: rgba(247, 247, 247, 1);
}
.card-calc-wrap{
    padding: 64px 0;   
}
.calc-params-item-name{
    font-family: "Geologica-Regular";
    color: var(--black);
    padding-bottom: 8px;font-size: 16px;
    white-space: nowrap;
}
.calc-params{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.calc-params__input{
    width: 100%;
    max-width: 318px;
    font-family: "Geologica-Light";
    font-size: 16px;
    padding: 13px 16px;
    border: none;
}
.calc-params-item{
    width: 100%;
    max-width: 318px;
}
.calc-params-item--mw{
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}
.calc-params-item-action--df{
    display: flex;
    gap: 12px;
}
.calc-params-item-action-value{
    font-family: "Geologica-Light";
    font-size: 16px;
    color: var(--dark-grey);
    border-radius: 40px;
    padding: 7px 16px;
    background-color: var(--white);
    cursor: pointer;
}
.calc-params-item-action-value.active{
    color: var(--black);
    background-color: var(--grey);
    border: 1px solid var(--dark-grey);
}
.calc-action{
    cursor: pointer;
    width: 232px;
    text-align: center;
}
@media(max-width: 860px){
    .calc-params-item-action-value-wrap{
        text-align: center;
    }
}
@media(max-width: 705px){
    .calc-params-item-action-value-wrap{
        font-size: 14px;
    }
}
@media(max-width: 680px){
    .calc-params-item:not(.calc-params-item--mw){
        max-width: 48%;
    }
    .calc-params-item--mw{
        flex-direction: column;
        align-items: start;
    }
}
@media(max-width: 620px){
    .calc-params-item:not(.calc-params-item--mw){
        max-width: 46%;
    }
    .calc-params-item-action-value{
        padding: 7px 11px;
    }
}
@media(max-width: 535px){
    .calc-params__input{
        font-size: 12px;
    }
}
@media(max-width: 470px){
    .calc-params-item-action--df{
        flex-direction: column;
    }
    .calc-params-item--mw{
        max-width: 47%;
    }
    .calc-params-item-action-value{
        padding: 7px;
    }
}
@media(max-width: 420px){
    .calc-params-item--mw, .calc-params-item:not(.calc-params-item--mw), .calc-params__input {
        max-width: 100%;
    }
    
}