.designers-slider{
    padding-top: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.designer-slider-wrap{
    width: 100%;
}
.designers-slider-item{
    width: 100%;
    visibility: hidden;
}
.designers-slider-item.active{
    visibility: visible;
}

.designers-slider-item-wrap{
    display: flex;
    justify-content: center;
    height: 420px;
}
.designers-slider-item-info-pic{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 10px solid var(--white);
}
.designers-slider-item-link{
    text-decoration: none;
}
.designers-slider-item-info-text{
    font-size: 20px;
    color: var(--black);
    font-family: "Geologica-Medium";
    text-align: center;
    max-width: 318px;
}
.designers-slider-item-info {
    position: absolute;
    padding-top: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.owl-stage{
    display: flex;
}
.designers-slider-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    max-width: 1365px;
    padding-bottom: 125px;
}
.designers-slider-nav-item{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey);
    border: none;
    cursor: pointer;
}
.designers-slider-item-info-pic__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.designers-slider-nav-item--prev{
    position: relative;
    right: 15px;
}
/*
.designers-slider-nav-item.disabled{
    display: none;
}
*/
@media (max-width: 1348px) {
    .designers-slider-item{
        max-width: unset;
    }
    .designers-slider-nav{
        padding-left: 15px;
        padding-right: 15px;
        max-width: 98%;
    }
}
@media(max-width: 600px){
    .designers-slider-nav{
        max-width: 95%;
    }
    .designers-slider-item-pic{
        width: 100%;
        display: flex;
        justify-content: center;
        max-height: 300px;
    }
}