@font-face {
    font-family: "Geologica-Bold";
    src: url("fonts/geologica/Geologica-Bold.ttf");
}
@font-face {
    font-family: "Geologica-ExtraBold";
    src: url("fonts/geologica/Geologica-ExtraBold.ttf");
}
@font-face {
    font-family: "Geologica-ExtraLight";
    src: url("fonts/geologica/Geologica-ExtraLight.ttf");
}
@font-face {
    font-family: "Geologica-Light";
    src: url("fonts/geologica/Geologica-Light.ttf");
}
@font-face {
    font-family: "Geologica-Medium";
    src: url("fonts/geologica/Geologica-Medium.ttf");
}
@font-face {
    font-family: "Geologica-Regular";
    src: url("fonts/geologica/Geologica-Regular.ttf");
}
@font-face {
    font-family: "Geologica-SemiBold";
    src: url("fonts/geologica/Geologica-SemiBold.ttf");
}
@font-face {
    font-family: "Geologica-Thin";
    src: url("fonts/geologica/Geologica-Thin.ttf");
}
