@import url("reset.css");
@import url("fonts.css");
@import url("menu.css");
@import url("banner.css");
@import url("designers_slider.css");
@import url("reviews_slider.css");
@import url("blog.css");
@import url("search.css");
@import url("mobileMenu.css");

:root{
    --black: rgba(43, 42, 41, 1);
    --dark-grey: rgba(131, 127, 122, 1);
    --white: #fff;
    --light-grey: rgba(245, 245, 245, 1);
    --grey: rgba(235, 236, 236, 1);
    --top: 6px;
}
body{
    font-family: "Geologica-Thin";
    color: var(--black);
}
.site{
    overflow-x: hidden;
}
.container{
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1365px;
    width: 100%;
}
.site.site--no-scroll{
    overflow-y: hidden;
}
.site-overlay{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    z-index: 995;
    display: none;
}
.site-overlay.show{
    display: block;
}
.site-header-top{
    background-color: var(--black);
    position: relative;
    z-index: 998;
}
.site-header-top-wrap{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}
.site-header-region{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.site-header-region-text{
    font-size: 14px;
    color: var(--white);
    font-family: "Geologica-Regular";
}
.site-header-phone{
    display: flex;
    align-items: center;
    gap: 16px;
}
.site-header-phone__link{
    text-decoration: none;
    font-family: "Geologica-SemiBold";
    color: var(--white);
    font-size: 14px;
}
.site-header-top-right{
    display: flex;
    align-items: center;
    gap: 16px;
}
.site-header-social{
    display: flex;
    align-items: center;
    gap: 16px;
}
.site-header-social__link,
.site-header-region-pic,
.site-header-search-toggle {
    display: flex;
}
.site-header-search-toggle{
    cursor: pointer;
}
.site-header-bottom{
    position: relative;
    z-index: 998;
    background-color: var(--white);
}
.site-header-bottom-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.site-header-bottom-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.btn{
    padding: 13px 32px;
    text-decoration: none;
    color: var(--black);
    font-family: "Geologica-Regular";
    font-size: 16px;
    transition: 0.5s;
    border: 1px solid var(--black);
}
.btn--white{
    color: var(--white);
    border-color: var(--white);
}
.site-main-innovations{
    padding-top: 120px;
    padding-bottom: 150px;
}
.site-main-innovations-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site-main-innovations-pic{
    padding-bottom: 48px;
}
.site-main-innovations-text{
    padding-bottom: 48px;
    font-family: "Geologica-Thin";
    font-size: 36px;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
    max-width: 666px;
    line-height: 1.3;
}
.subtitle{
    font-family: "Geologica-Medium";
    font-size: 14px;
    color: var(--dark-grey);
    text-transform: uppercase;
    padding-bottom: 6px;
}
.subtitle--white{
    color: var(--white);
}
.title{
    font-family: "Geologica-Regular";
    font-size: 36px;
    line-height: 1.2;
    color: var(--black);
    text-transform: uppercase;
}
.title--white{
    color: var(--white);
}
.site-main-materials{
    background-color: var(--light-grey);
}
.site-main-materials-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.site-main-materials-right{
    max-width: 666px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.site-main-material-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-top: 1px solid var(--dark-grey);
    padding-top: 20px;
}
.site-main-materials-bottom-item{
    display: flex;
    max-width: 332px;
    gap: 12px;
    font-size: 16px;
}
.site-main-structure{
    padding: 150px 0;
}
.site-main-properties{
    background-color: var(--light-grey);
}
.site-main-properties-wrap{
    padding: 80px 0;
    display: flex;
    gap: 24px;
}
.site-main-properties-right{
    padding-left: 40px;
    padding-top: 30px;
    max-width: 660px;
}
.site-main-properties-left{
    max-width: 660px;
}
.site-main-properties-pic{
    padding-top: 40px;
}
.properties-list-item-title{
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    font-family: "Geologica-Medium";
    font-size: 20px;
}
.properties-list-item-title-pic{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--dark-grey);
}
.properties-list-item:first-child{
    padding-top: 0;
}
.properties-list-item:last-child{
    padding-bottom: 0;
}
.properties-list-item{
    padding: 24px 0;
}
.properties-list-item:not(:last-child){
    border-bottom: 1px solid var(--dark-grey);
}
.properties-list-item-content{
    font-size: 16px;
    font-family: "Geologica-Light";
    color: var(--dark-grey);
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}
.properties-list-item-content.show{
    padding-top: 16px;
}
.properties-list-item-content-action{
    padding-top: 16px;
}
.properties-list-item-content__link{
    color: var(--black);
}
.properties-list-item-title-pic svg{
    transition: 0.5s;
}
.properties-list-item-title-pic.show svg{
    transform: rotateX(180deg);
}
.site-main-designers-wrap{
    padding: 150px 0;
}
.site-main-designers-subtitle{
    padding-bottom: 8px;
}
.site-main-designers-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-main-collections{
    padding-bottom: 150px;
}
.site-main-collections-title{
    max-width: 678px;
}
.site-main-designers-slider{
    padding-bottom: 150px;
}
.collections-list{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.collections-list-item{
    display: flex;
}
.collections-list-item:nth-child(2n){
    flex-direction: row-reverse ;
}
.collectons-list-item-desc{
    max-width: 570px;
    background-color: var(--light-grey);
}
.collections-list-item-title{
    text-transform: uppercase;
    color: var(--black);
    font-size: 28px;
    font-family: "Geologica-Regular";
    line-height: 1;
}
.collectons-list-item-desc-wrap{
    padding: 48px;
}
.collections-list-item-thin{
    color: var(--black);
    font-size: 16px;
    font-family: "Geologica-Regular";
    padding-top: 10px;
    padding-bottom: 16px;
}
.collections-list-item-text{
    font-family: "Geologica-Light";
    font-size: 16px;
    color: var(--dark-grey);
    padding-bottom: 83px;
}
.collections-list-item-props-elem{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-top: 1px solid var(--dark-grey);
}
.collections-list-item-props-elem-text{
    font-family: "Geologica-Regular";
   font-size: 16px;
   color: var(--dark-grey); 
}
.collections-list-item-props-elem-val{
    font-family: "Geologica-Regular";
    font-size: 16px;
    color: var(--black); 
 }
 .collections-list-item-props-elem:last-child{
    border-bottom: 1px solid var(--dark-grey);
 }
 .collections-list-item-action{
    padding-top: 48px;
 }
 .collections-list-item__link{
    font-family: "Geologica-Regular";
    font-size: 16px;
    color: var(--black);
 }
 .collections-list-item__img{
    height: 100%;
    object-fit: cover;
 }
 .site-main-reviews{
    background-color: var(--light-grey);
 }
 .site-main-reviews-wrap{
    padding: 80px 0;
 }
 .site-main-reviews-wrap{
    display: flex;
    justify-content: space-between;
    gap: 24px;
 }
 .site-main-reviews-left{
    max-width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .site-main-reviews-title{
    max-width: 566px;
 }
 .site-main-reviews-right{
    display: flex;
    gap: 24px;
 }
 .site-main-reviews__img{
    width: 100%;
    object-fit: contain;
 }
 .site-main-blog-wrap{
    padding: 150px 0;
 }
 .site-main-blog-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
 }
 .site-main-where-buy-title{
    max-width: 598px;
    padding-bottom: 24px;
 }
 .site-main-where-buy__img,
 .site-main-where-buy-pic{
    width: 100%;
 }
 .site-main-where-buy-content{
    position: absolute;
    width: 100%;
 }
 .site-main-where-buy{
    display: flex;
    align-items: center;
 }
 .site-footer{
    background-color: var(--black);
 }
 .site-footer-wrap{
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
 }
 .site-footer-right{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 771px;
 }
 .site-footer-info{
    width: 100%;
    max-width: 549px;
 }
 .site-footer-info-text{
    font-family: "Geologica-Light";
    font-size: 14px;
    color: var(--dark-grey);
    padding-top: 40px;
 }
 .site-footer-info-copy{
    padding-top: 8px;
 }
 .site-footer-title{
    font-family: "Geologica-Regular";
    text-transform: uppercase;
    font-size: 16px;
    color: var(--dark-grey);
    padding-bottom: 24px;
 }
 .site-footer-menu-list{
    margin: 0;
 }
 .site-footer-menu-list-item{
    list-style-type: none;
 }
 .site-footer-menu-list-item:not(:last-child){
    padding-bottom: 16px;
 }
 .site-footer-menu-list-item__link{
    text-decoration: none;
    font-family: "Geologica-Light";
    color: var(--grey);
 }
 .site-footer-social-item-wrap{
    display: flex;
    align-items: center;
    gap: 8px;
 }
 .site-footer-social-item-link{
    font-family: "Geologica-Regular";
    text-decoration: none;
    color: var(--grey);
}
.site-footer-social-wrap{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.site-footer-social-item-pic{
    display: flex;
}
.site-footer-brands-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.site-main-structure-pic{
    display: flex;
    justify-content: end;
}
.site-main-structure-text{
    padding-top: 20px;
    max-width: 500px;
}
.site-up{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 20px;
    background-color: rgb(30, 30, 30);
    transition: 0.5s !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    opacity: 0;
}
.site-header-burger span, .site-header-burger span::before, .site-header-burger span::after {
    height: 3px;
    width: 25px;
    display: block;
    background-color: black;
}
.site-header-burger span::before {
    content: "";
    display: block;
    position: relative;
    top: calc(var(--top) * (-1));
}
.site-header-burger span i {
    display: block;
}
.site-header-burger span::after {
    content: "";
    display: block;
    position: relative;
    top: calc(var(--top) - 2px);
    transform: rotate(var(--rotateDown));
}
.site-header--hide{
    position: relative;
    z-index: 995;
}
.site-header-mobile{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 999;
    max-width: 60%;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 999;
}
.site-header-mobile.show{
    transform: translateX(0);
}
@media screen {
    .btn:hover{
        background-color: var(--black);
        color: var(--white);
    }
    .btn--white:hover{
        background-color: var(--white);
        color: var(--black);
    }
    .site-up:hover{
        background-color: #000;
    }
}
@media(min-width: 586px){
    .site-header-burger{
        display: none;
    }
}
@media(max-width: 1460px){
    .site-main-where-buy{
        height: 500px;
    }
    .site-main-where-buy__img, .site-main-where-buy-pic{
        height: inherit;
    }
    .site-main-where-buy__img{
        object-fit: cover;
    }
}
@media(max-width: 1390px){
    .site-main-reviews-wrap{
        flex-direction: column;
    }
}
@media(max-width: 1245px){
    .site-footer-info{
        max-width: 381px;
    }
    .site-footer-wrap{
        gap: 20px;
    }
    .site-main-materials-wrap{
        padding: 25px 0;
    }
}
@media(max-width: 880px){
    .site-main-properties-wrap{
        flex-direction: column;
        align-items: center;
    }
    .site-main-properties-right{
        padding-left: 0;
    }
    .site-footer-wrap{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 65px;
    }
    .site-footer-info{
        max-width: 100%;
    }
}
@media(max-width: 800px){
    .site-main-material-bottom{
        flex-direction: column;
    }
    .site-main-material-bottom{
        align-items: start;
    }
}
@media(max-width: 768px){
    .title{
        font-size: 30px;
    }
    .site-main-reviews__img{
        max-width: 48%;
    }
}
@media(max-width: 710px){
    .site-header-logo__img{
        max-width: 95px;
    }
}
@media(max-width: 660px){
    .title{
        font-size: 24px;
    }
    .collections-list-item,
    .collections-list-item:nth-child(2n){
        flex-direction: column-reverse;
    }
    .collectons-list-item-desc{
        max-width: 100%;
    }
    .site-main-materials-right{
        gap: 40px;
    }
}
@media(max-width: 600px){
    .site-main-materials-wrap{
        flex-direction: column-reverse;
    }
    .site-main-materials-bottom-item{
        max-width: 100%;
    }
}
@media(max-width: 585px){
    .site-header-phone,
    .site-header-social{
        display: none;
    }
}
@media(max-width: 565px){
    .site-main-designers-row{
        flex-direction: column;
        align-items: start;
    }
    .site-main-designers-title{
        padding-bottom: 25px;
    }
    .site-footer-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .site-footer-info-copy{
        text-align: center;
    }
}
@media(max-width: 475px){
    .site-footer-right{
        flex-wrap: wrap;
        gap: 15px;
    }
    .site-footer-menu, .site-footer-social{
        max-width: 49%;
    }
    .site-main-innovations-text{
        font-size: 23px;
    }
}
@media(max-width: 425px){
    .site-main-innovations, .site-main-structure, .site-main-designers-wrap, .site-main-blog-wrap {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .site-main-designers-slider{
        padding-bottom: 50px;
    }
}
@media(max-width: 420px){
    .site-main-blog-row{
        flex-direction: column;
    }
    .blog-title{
        padding-bottom: 25px;
    }
}
@media(max-width: 375px){
    .site-header-mobile{
        max-width: 100%;
    }
}